POSTGRES_HOST=exemple
POSTGRES_USER=exemple
POSTGRES_PASSWORD=exemple
POSTGRES_DB=exemple
POSTGRES_PORT=3030

PGADMIN_DEFAULT_EMAIL=exemple@exemple.com
PGADMIN_DEFAULT_PASSWORD=exemple

JWT_SECRET=tonSecretUltraComplexeEtLong123456789
JWT_EXPIRES_IN=3600s

ADMIN_EMAIL=exemple@exemple.com
ADMIN_PASSWORD=exemple

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=exemple
MINIO_SECRET_KEY=exemple
MINIO_BUCKET=astrodle
MINIO_PUBLIC_URL=http://localhost:9000
MINIO_URL_STYLE=path